*
{
    margin: 0;
    padding: 0;
}

.container
{
    background-color: #ddd;
    width: 80%;
    height: 95vh;
    margin: 0 auto;
}
.imgContainer 
{
   display: flex;
   justify-content: center;
}

img 
{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 20px 0;
}
.title 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New";
    margin-top: 20px;
}
.name
{
    color: tomato;
}
.job-title
{
    padding: 10px 20px;
}
.description
{
    padding: 10px 20px;
}
.fa-brands
{
    font-size: 30px;
    margin-left: 20px;
}
.fa-facebook
{
    color: blue;
}
.fa-youtube
{
    color: red;
}
.fa-instagram
{
    color: rgb(226, 43, 64);
}
footer 
{
    margin: 0 auto;
    width: 80%;
    height: 5vh; 
    background-color: #ddd;
}
footer p
{
    text-align: center;
}